<?xml version="1.0" encoding="utf-8"?>

<image schemaversion="5.8" name="POS_Image_JeOS6_SLE11">
	<description type="system">
		<author>Admin User</author>
		<contact>noemail@example.com</contact>
		<specification>SUSE Linux Enterprise 11 SP4 JeOS</specification>
	</description>
	<preferences>
		<type image="pxe" boot="saltboot/suse-SLES11" filesystem="ext3">
			<size unit="M" additive="true">0</size>
		</type>
		<version>6.0.0</version>
		<keytable>us.map.gz</keytable>
		<locale>en_US</locale>
		<packagemanager>zypper</packagemanager>
		<rpm-check-signatures>false</rpm-check-signatures>
		<rpm-excludedocs>true</rpm-excludedocs>
		<timezone>America/New_York</timezone>
		<hwclock>utc</hwclock>
		<bootsplash-theme>SLEPOS</bootsplash-theme>
		<bootloader-theme>SLEPOS</bootloader-theme>
	</preferences>
<!-- password: "linux"
	<users group="root">
		<user password="$1$X4nzuRfs$Cw2KXDXsgUUNpasZZi7I/1" name="root" home="/root" shell="/bin/bash"/>
	</users>
-->
	<repository type="rpm-dir">
		<source path="this://repo"/>
	</repository>
<!--    PACKAGES -->
	<packages type="image" patternType="plusRecommended">
		<package name="libzypp"/>
		<package name="dhcpcd"/>
		<package name="ifplugd"/>
		<package name="e2fsprogs"/>
		<package name="file"/>
		<package name="gawk"/>
		<package name="hwinfo"/>
		<package name="iproute2"/>
		<package name="libcom_err2"/>
		<package name="module-init-tools"/>
		<package name="net-tools"/>
		<package name="netcfg"/>
		<package name="pciutils"/>
		<package name="sysconfig"/>
		<package name="sysfsutils"/>
		<package name="tcpd"/>
		<package name="util-linux"/>
		<package name="syslinux"/>
		<package name="pam"/>
		<package name="pam-modules"/>
		<package name="insserv"/>
		<package name="acpid"/>
		<package name="suspend"/>
		<package name="pm-profiler"/>
		<package name="busybox"/>
		<package name="usbutils"/>
		<package name="mkinitrd"/>
		<package name="grub"/>
		<package name="input-utils"/>
		<package name="klogd"/>
		<package name="salt-minion"/>
	</packages>
	<packages type="bootstrap">
		<package name="filesystem"/>
		<package name="glibc-locale"/>
		<package name="kernel-default"/>
		<package name="udev"/>
		<package name="openssl-certs"/>
		<package name="rhn-org-trusted-ssl-cert-osimage-sle11" bootinclude="true"/>
	</packages>
</image>
